figure {
  position: relative;
  display: inline-block;
}

img {
  display: block;
}

.expand {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  bottom: 15px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5) url(images/expand.png) 50% 50% no-repeat;
  background-size: 30px;
  border: 1px solid #333;
}
