body {
    background: #f7f6f2;
    margin: 0;
   }

.bg {
    min-height: 200px;
    background: #a1bd57;
   }

.content {
    background: #fff;
    border: 3px solid #dad6cf;
    width: 400px;
    min-height: 250px;
    margin: auto;
    position: relative;
    top: -100px;
}