body {
  background: #f8f8f8;
  margin: 0;
}

main {
  width: 400px;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.4);
  min-height: 1000px;
  padding: 20px;
}

.social {
  width: 64px;
  padding: 10px;
  float: left;
  position: sticky;
  top: 0;
}

header,
footer {
  background-color: #333;
  color: #fff;
  font: normal 24px Arial, sans-serif;
  text-align: center;
}

header h1 {
  margin: 0 auto;
  width: 440px;
}
